<section class="breadcrum">
  <div class="left-bread">
    <a>HỒ SƠ NHÂN SỰ</a>
    <i class="fa-solid fa-chevron-right" style="color: #bdc2d2"></i>
    <a>THÔNG TIN CÁ NHÂN</a>
  </div>
  <div class="right">
    <div style="background: #eb273a">
      <i class="fa-regular fa-trash-can" style="color: #fff"></i>
      <a>XÓA ONBOARDING</a>
    </div>
    <div>
      <i class="fa-regular fa-share-from-square" style="color: #ffffff"></i>
      <a>GỬI DUYỆT</a>
    </div>
    <div>
      <i class="fa-solid fa-plus" style="color: #ffffff"></i>
      <a>THÊM MỚI</a>
    </div>
  </div>
</section>
