<!-- TEST -->
<div class="datetime-picker-container">
  <p class="time">
    {{ defaultValue }}
  </p>
  <kendo-datepicker
    [(ngModel)]="value"
    (valueChange)="onValueChange($event)"
    (open)="onOpen($event)"
    (close)="onClose($event)"
    (focus)="onFocus($event)"
    (blur)="onBlur($event)"
    [disabledDates]="disablePastDates"
    calendarType="classic"
    class="datetimepick"
    [popupSettings]="{ appendTo: 'component', popupClass: 'cusDatetimepicker' }"
  >
    <ng-template kendoCalendarHeaderTitleTemplate let-date>
      {{ date | monthFormat }}
      <div class="bottom" (click)="$event.stopPropagation()">
        <div class="radio-container">
          <input type="checkbox" [(ngModel)]="isAllDay" (change)="onAllDay()" />
          <a>Cả ngày</a>
        </div>
        <div class="dropdown-container">
          <kendo-dropdownlist
            class="dropdown"
            [(ngModel)]="tempValue"
            [data]="ListHours"
            (blur)="onTimeChangeOnBlur()"
            [disabled]="isAllDay"
          ></kendo-dropdownlist>
          <div>
            <button
              [ngClass]="{ 'active-btn': !isPm }"
              (click)="toggleAmPm(false)"
              [disabled]="isAllDay"
              [class.active]="!isPm"
            >
              AM
            </button>
            <button
              [ngClass]="{ 'active-btn': isPm }"
              (click)="toggleAmPm(true)"
              [disabled]="isAllDay"
              [class.active]="isPm"
            >
              PM
            </button>
          </div>
        </div>
      </div>
    </ng-template>
  </kendo-datepicker>
</div>
