<aside class="sider">
  <div class="demo-logo-vertical">
    <img src="../../assets/HachiLogo.svg" alt="" />
    <i class="fa-solid fa-angle-down" style="color: #000; font-size: 12px"></i>
  </div>
  <div class="menu">
    <div class="side-option">
      <h2>QUẢN LÝ SẢN PHẨM</h2>
      <i
        class="fa-solid fa-angle-down"
        style="color: #c8ced3; font-size: 12px"
      ></i>
    </div>
    <div class="side-option">
      <h2>SẢN PHẨM</h2>
      <i
        class="fa-solid fa-angle-down"
        style="color: #c8ced3; font-size: 12px"
      ></i>
    </div>
    <div class="side-option">
      <h2>HÀNG HÓA</h2>
      <i
        class="fa-solid fa-angle-down"
        style="color: #c8ced3; font-size: 12px"
      ></i>
    </div>
    <div class="side-option">
      <h2>HỒ SƠ NHÂN SỰ</h2>
      <i
        class="fa-solid fa-angle-down"
        style="color: #c8ced3; font-size: 12px"
      ></i>
    </div>
    <div class="side-option">
      <h2>QUẢN LÝ ĐỐI TÁC</h2>
      <i
        class="fa-solid fa-angle-down"
        style="color: #c8ced3; font-size: 12px"
      ></i>
    </div>
    <div class="side-option">
      <h2>QUẢN TRỊ HỆ THỐNG</h2>
      <i
        class="fa-solid fa-angle-down"
        style="color: #5cb800; font-size: 12px"
      ></i>
    </div>
    <div class="side-option">
      <i
        style="color: #c8ced3; font-size: 12px; padding-right: 10px"
        class="fa-solid fa-user-plus"
      ></i>
      <h2>Vai trò</h2>
    </div>
    <div class="side-option">
      <i
        style="color: #fff; padding-right: 10px"
        class="fa-solid fa-user-tag"
      ></i>
      <h2>Phân quyền</h2>
    </div>
  </div>
</aside>
